<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<h1>Product list</h1>
<a th:href="@{/cart}">Cart</a>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <th:block th:each="product : ${products}">
            <tr>
                <td><a th:href="@{/detail(id=${product.id})}" th:text="${product.name}">Edit</a></td>
                <td th:text="${product.price}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>