html {
    font-family: 'DM Sans', sans-serif;
}
body {
    position: relative;
}
.container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}
.color {
    position: absolute;
    filter: blur(150px);
}
.color:nth-child(1) {
    top: -350px;
    width: 1000px;
    height: 600px;
    background-color: #f2dce7;
}
.color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background-color: #ecebab;
}
.color:nth-child(3) {
    bottom: -150px;
    right: 10px;
    width: 500px;
    height: 400px;
    background-color: #afdfea;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 36px;
}
h1 {
    margin: 10px;
    font-size: 40px;
    background-image: linear-gradient(to right bottom, #07abff, #ffc254);
    color: transparent;
    -webkit-background-clip:text;
}
img {
    width: 80px;
    height: 80px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    width: calc(100% / 9);
}
th, td {
    border: 1px solid #000;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-search {
    margin: 0;
    height: 100%;
}
.form-search button {
    width: 60px;
    height: 100%;
    background-color: #4fa005;
    color: #fff;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
input {
    height: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0 10px;
    outline: none;
    font-size: 18px;
    transform: translateY(-17%);
}
.update, .delete {
    text-decoration: none;
    font-size: 16px;
}
.title {
    text-decoration: none;
}
.edit-icon, .delete-icon  {
    font-size: 18px;
    padding-right: 5px;
}
.update {
    color: #083aff;
}
.delete {
    color: #ff2121;
}
.user-icon, .search-icon {
    padding-right: 5px;
    font-size: 24px;
}
.add-user {
    color: #03bb44;
    font-size: 24px;
    font-weight: 500;
}
.message {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}
.name-product {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}